<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant" >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台灣發展歷史網頁</title>
    <meta name="description" content="介紹台灣發展歷史" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" th:href="@{/png/taiwanIcon.png}" />
    <link rel="bookmark" th:href="@{/png/taiwanIcon.png}" />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/twicon.css}" />
    <script
            type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Year", "GDP"],
                ["1960", 34394],
                ["1965", 114762],
                ["1970", 231397],
                ["1975", 601778],
                ["1980", 1522459],
                ["1980", 2535056],
                ["1990", 4474288],
                ["1995", 7391062],
                ["2000", 10328549],
                ["2005", 12036675],
                ["2010", 14060345],
            ]);

            var options = {
                title: "台灣過去50年GDP變化圖表",
                curveType: "function",
                legend: { position: "bottom" },
            };

            var chart = new google.visualization.LineChart(
                document.getElementById("curve_chart")
            );

            chart.draw(data, options);
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<!-- 標題 -->
<div class="container">
    <header>
        <h1 class="headerTitle">
            <i class="twicon-main-island"></i>台灣經濟發展歷史
        </h1>
        <h3 class="headerText">過去70年台灣經濟發展的歷史及相關政策</h3>
    </header>
    <!-- 導覽列 -->
    <nav>
        <ul>
            <li>
                <a class="active" href="#"><i class="twicon-main-island"></i> 首頁</a>
            </li>
            <li>
                <a href="#"><i class="twicon-dragon-boat"></i> 農業改革</a>
            </li>
            <li>
                <a href="#"><i class="twicon-taipei101"></i> 工業改革</a>
            </li>
            <li>
                <a href="#"><i class="twicon-postbox2"></i> 經濟起飛</a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/HomeRight"><i class="twicon-black-bear"></i> 關於作者</a>
            </li>
        </ul>
    </nav>

    <!-- 內容 -->
    <main>
        <section class="left">
            <p>
                絕不能錯過！！由烏龍麵職人精心製作，大阪引以為榮的烏龍麵丨Best Udon in
                Osaka
            </p>
            <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/GFfodTXiQ-w"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
            ></iframe>
            <br />
            <div id="curve_chart" ></div>
        </section>
        <section class="right">
            <h4>你知道台灣在哪裡嗎?</h4>
            <p>
                台灣是太平洋上的一個小島。
                它毗鄰中國，在島上的原住民被認為是太平洋群島南島語族語系人民的起源。
                台灣的陸地面積為13972公里，島上約有2380萬人居住，最主要通用語言為中文、閩南語、客家話。
            </p>

            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.7332190716477!2d121.46526725820564!3d25.018240076542007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a817be531d4f%3A0x9ae77263aa970aa8!2z5rK55bqr5Y-j6Jq15LuU6bq157eaK-eCreeDpOmmmeiFuA!5e0!3m2!1szh-TW!2stw!4v1655735461772!5m2!1szh-TW!2stw"
                    width="300"
                    height="300"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </section>
    </main>
</div>
</body>
</html>
